[MAIN]

# Files or directories to be skipped. They should be base names, not
# paths.
ignore=venv,.venv

# Files or directories matching the regex patterns are skipped. The regex
# matches against base names, not paths.
ignore-patterns=
    ^\.#,
    ^bazel-*#,
    ^BUILD.bazel#,
    ^MODULE.bazel#,
    ^.*\.bzl#,

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,
    pylint.extensions.docparams,
    pylint.extensions.for_any_all,
    pylint.extensions.set_membership,
    pylint.extensions.code_style,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.typing,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.comparison_placement,
    pylint.extensions.broad_try_clause,
    pylint.extensions.dict_init_mutate,
    pylint.extensions.consider_refactoring_into_while_condition,

disable=
    missing-docstring,
    too-few-public-methods,
    fixme,
    trailing-whitespace,
    consider-using-assignment-expr
